.card-content {
  padding 1rem
  color #000

  footer {
    font-size 0.8rem
    font-weight bold
    color #ccc
    margin-top 3px
    margin-bottom -5px
  }
}

.card {
  border #dfdfdf 1px solid
  box-shadow #efefef 1px 1px 1px
  img {
    display block
    margin 0
  }
  img.abs {
    position absolute
    top 0
    width 100%
    z-index 20
  }
  position relative
}

:global(.nightly) {
  .card-content {
    color #fff
  }

  .card {
    border #333 1px solid
    box-shadow #111 1px 1px 1px
  }
}
