@import "../2645lab/layout.module.styl"

.container {
  display flex
  justify-content flex-start

  @media screen and (max-width: 780px) {
    flex-direction column
  }
}

.page {
  margin 6.5rem auto
  max-width 800px
  padding: 0 1.0875rem 1.45rem;
}
