@import "../2645lab/layout.module.styl"

.container {
  display flex
  justify-content flex-start
  height 100%

  @media screen and (max-width: 1067px) {
    flex-direction column
  }
}

.page {
  margin 6.5rem auto
  max-width 800px
  padding: 0 1.0875rem 1.45rem;

  h1 {
    font-size 2rem
    margin-bottom 2.25rem
  }

  a, a:hover {
    color var(--primary-color, #ff5d8a)
  }

}
