.status-card {
  width calc(50% - 2rem)
  min-width 275px
  margin 1rem

  @media screen and (max-width: 820px) {
    width 100%
    margin-left 0
    margin-right 0
  }
  footer {
    font-family Cantarell, Serif
  }
}

.container {
  width 780px
  @media screen and (max-width: 820px) {
    width auto
  }

  h1 {
    margin-bottom 1.25rem
  }
}
