.author-tag {
  display inline-flex
  align-items center
  position relative
  margin-right 0.4rem
  border-radius 0.8em
  vertical-align middle
  height 1.6rem

  img {
    margin-bottom 0
    display inline
    height 1.6rem
    border-radius 50%
  }

  span {
    vertical-align middle
    font-size 1.1rem
    font-weight normal
    font-family "Hanyi ShangWei Shoushu"
    margin 0 0.8rem 0 0.6rem
  }

}
