.blockquote {
  color #222
  border-left 0
  padding 1.5em 1.1em 1.5em 1.1em
  margin-left 0
  margin-right 0
  position: relative
  font-size 1.15rem
  font-style normal
  text-align center
}

.blockquote::before {
  color #222
  content "\201C"
  font-size 5em
  position absolute
  left -15px
  top 30px
  line-height 0.1em
  font-family sans-serif
  font-style italic
}

.blockquote::after {
  color #222
  content "\201D"
  font-size 5em
  position absolute
  right 10px
  bottom -30px
  line-height 0.1em
  font-family sans-serif
  font-style italic
}

.p {
  text-align right
  margin-top 20px
  margin-bottom 20px
}

.from {
  span::before {
    content '—— '
  }
}

:global(.nightly) {
  .blockquote, .blockquote::before, .blockquote::after {
    color #fff
  }
}
