.alert {
  margin-bottom 1.45rem
  padding 1rem
  border-left 3px solid
}

.info {
  background-color #dfe9f6
  color #00449b
  border-color #00449b
}

.warn {
  background-color #fcf8e3
  color #8a6d3b
  border-color #8a6d3b
}

.danger {
  background-color #f6dfe0
  color #8a3b51
  border-color #8a3b51
}

:global(.nightly) {
  .info {
    background-color #00449b
    color #dfe9f6
    border-color #dfe9f6
  }

  .warn {
    background-color #8a6d3b
    color #fcf8e3
    border-color #fcf8e3
  }

  .danger {
    background-color #8a3b51
    color #f6dfe0
    border-color #f6dfe0
  }
}
