.author-tag {
  display inline-flex
  align-items center
  position relative
  margin-right 0.4rem
  border-radius 0.8em
  vertical-align middle
  height 1.6rem

  .img {
    margin-bottom 0
    display inline
    height 1.6rem
    width 1.6rem
    border-radius 50%
    background-position center
    background-size 100%
  }

  span {
    vertical-align middle
    font-size 1.1rem
    font-weight normal
    font-family "Tiejili Regular"
    margin 0 0.8rem 0.1rem 0.6rem
  }

}
