.button-wrap {
  position relative
  display inline-block
  box-sizing border-box
  padding 0 0.8em
  margin 0.5em 0.5em 2em
  z-index 70
  cursor pointer
}

.button {
  position absolute
  left 0
  right 0
  top 50%
  border-bottom #fff 1em solid
  border-left transparent 0.4em solid
  border-right transparent 0.4em solid
  z-index 71
}

.button-text {
  color #000
  a {
    color #000
  }
  margin 0
  position relative
  z-index 72
  font-family 'Hanyi ShangWei Shoushu'
  font-size 1.25em
  transition: color .2s ease-in-out 0s
}

:global(.nightly) .button-text {
  color #fff
  a {
    color #fff
  }
}
