.title {
  color #000
  transition: color .2s ease-in-out 0s
  display inline-block

  span {
    vertical-align middle
  }

  margin-bottom 0.625rem
}

:global(.nightly) .title {
  color #dadada
}

.post {
  margin-bottom 4rem
}
