.title {
  color #000
  transition: color .2s ease-in-out 0s
  display inline-block

  span {
    vertical-align middle
  }

  margin-bottom 1.125rem
}

.post {
  text-align center
  margin-bottom 2.6rem

  .post-excerpt {
    text-align left
  }
}
