.toc-container {
  position absolute
  left 100%
  top 0
  bottom 0
  width 200px

  .toc {
    position sticky
    top 100px
    margin-left 0.75rem
  }
}

@media screen and (max-width: 1300px) {
  .toc-container {
    display none
  }
}

.article {
  position relative
}

.post {
  h1 {
    font-size 1.75rem
  }

  code, pre, code[class*="language-"], pre[class*="language-"] {
    font-size 0.95em
  }

  pre {
    margin-bottom 1.45rem !important
  }

  blockquote {
    color #888;
    border-left 0
    padding 1.5em 1.1em 1.5em 1.1em
    margin-left 0
    margin-right 0
    position: relative
    font-size 1rem
    font-style normal

    ul {
      margin-left 2.45rem
    }
  }

  blockquote::before {
    color #888
    content "\201C"
    font-size 5em
    position absolute
    left -15px
    top 30px
    line-height 0.1em
    font-family sans-serif
    font-style italic
  }

  blockquote::after {
    color #888
    content "\201D"
    font-size 5em
    position absolute
    right 10px
    bottom -30px
    line-height 0.1em
    font-family sans-serif
    font-style italic
  }

}

.author-meta {
  margin 1rem 0
  color #888
  font-size 1.1rem
}

:global(.nightly) {
  .author-meta {
    color #c0c0c0
  }

  .post {
    blockquote, blockquote::before, blockquote::after {
      color #c0c0c0
    }
  }
}

.copyright-notice {
  font-size 16px
  padding 1em
  border-radius 5px
  border #000 2px dashed
  background-color #eee
  color: #000
  margin-bottom 1.45rem
  margin-top 1.9rem

  p:last-child {
    margin-bottom 0
  }
}

:global(.nightly) {
  .copyright-notice {
    background-color #2d2d2d
    border #c0c0c0 2px dashed
    color: #cecece
  }
}

.disqus {
  margin 1.8rem 0 1.8rem !important
  width 100% !important
}
